@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Callum's Restaurant!</h1>

<p>The best food and drinks in town join now for free to make reservations early!, and check out our promotions every week.</p>


