<!DOCTYPE html>
<html>
<head>
	

	<title>@ViewBag.Title - Callum's Restauraunt</title>
	<link href="~/Content/MyStyles.css" rel="stylesheet" />

</head>
<body>
	


	@*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

	@RenderBody()




	@RenderSection("scripts", required: false)
</body>
</html>
