
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

	<script src="~/Content/jquery.min.js"></script>
	<script src="~/Content/bootstrap.min.js"></script>
	<script src="~/Content/main.js"></script>
</head>


<style>

	body {
		color: #969696;
		font-size: 16px;
		overflow-x: hidden;
		font-family: 'Cabin', sans-serif;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: #151515;
		font-family: 'Quicksand', sans-serif;
	}

	h1 {
		font-size: 54px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 16px;
	}

	a {
		color: #151515;
		-webkit-transition: 0.2s color;
		transition: 0.2s color;
	}

		a:hover,
		a:focus {
			color: #f36700;
			text-decoration: none;
			outline: none;
		}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none
	}

	.white-text {
		color: #FFF;
		text-align: center;
	}

	/* --- Section --- */
	.section {
		position: relative;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-header .title {
		font-family: 'Dancing Script', cursive;
		margin-top: 0px;
	}

	.title:after {
		content: "";
		display: block;
		width: 15px;
		height: 2px;
		background-color: #f36700;
		margin: 15px 0px 30px;
	}

	.text-center .title:after {
		margin: 15px auto 30px;
	}

	.section-header .sub-title {
		font-weight: 400;
		color: #f36700;
	}



	#reservation.section {
		padding-bottom: 0px;
	}

	#reservation .bg-image {
		height: 75%;
	}

	.reserve-form {
		padding: 30px 2% 30px;
		background: rgba(21, 21, 21, 0.9);
	}

		.reserve-form .form-group {
			margin-bottom: 30px;
		}

			.reserve-form .form-group label {
				color: #FFF;
				margin-left: 10px;
			}

		.reserve-form .input {
			border-color: rgba(255, 255, 255, 0.2);
		}

	/*------------------------------------*\
	Opening Time
\*------------------------------------*/
	.opening-time {
		padding: 40px 8% 40px;
		background: #151515;
		margin-top: 40px;
	}

		.opening-time ul li .day {
			display: inline-block;
			font-weight: 400;
			color: #fff;
		}

		.opening-time ul li .hours {
			float: right;
			font-size: 14px;
			margin-top: 12px;
			font-weight: 400;
			color: #f36500;
		}

	/* --- Background Image --- */
	.bg-image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
		z-index: -1;
	}

		.bg-image.bg-parallax {
			background-attachment: fixed;
		}

		.bg-image.overlay:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0.7;
			background-color: #000;
		}
</style>

<!-- Reservation -->
<div id="reservation" class="section">

	<ul id="navlist">
		<li><a href="@Url.Content("~/Home/Index")">Home</a></li>
		<li><a href="@Url.Content("~/Home/About")">About</a></li>
		<li><a href="@Url.Content("~/Home/Contact")">Contact</a></li>
		<li><a href="@Url.Content("~/Reservation/Index")">Reservations</a></li>
		<li><a href="/Menu/">Menu</a></li>
	</ul>

	<!-- Backgound Image -->
	<div class="bg-image" style="background-image:url(/Images/background03.jpg)"></div>
	<!-- /Backgound Image -->
	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<!-- reservation form -->
			<div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
				<form class="reserve-form row">
					<div class="section-header text-center">

						<h2 class="title white-text">Book Your Table</h2>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Name:</label>
							<input class="input" type="text" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="phone">Phone:</label>
							<input class="input" type="tel" placeholder="Phone" id="phone">
						</div>
						<div class="form-group">
							<label for="date">Date:</label>
							<input class="input" type="text" placeholder="MM/DD/YYYY" id="date">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="email">Email:</label>
							<input class="input" type="email" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="number">Number of Guests:</label>
							<select class="input" id="number">
								<option>1 Person</option>
								<option>2 People</option>
								<option>3 People</option>
								<option>4 People</option>
								<option>5 People</option>
								<option>6 People</option>
							</select>
						</div>
						<div class="form-group">
							<label for="time">Time:</label>
							<input class="input" type="text" placeholder="HH:MM" id="time">
						</div>
					</div>

					<div class="col-md-12 text-center">
						<button class="main-button">Book Now</button>
					</div>

				</form>
			</div>
			<!-- /reservation form -->
			<!-- opening time -->
			<div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
				<div class="opening-time row">
					<div class="section-header text-center">
						<h2 class="title white-text">Opening Time</h2>
					</div>
					<ul>
						<li>
							<h4 class="day">Sunday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Monday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Tuesday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Wednesday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Thursday</h4>
							<h4 class="hours">8:00 am – 11:00 pm</h4>
						</li>
						<li>
							<h4 class="day">Friday</h4>
							<h4 class="hours">Closed</h4>
						</li>
						<li>
							<h4 class="day">Saturday</h4>
							<h4 class="hours">Closed</h4>
						</li>
					</ul>
				</div>
			</div>
			<!-- /opening time -->

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Reservation -->